ion-label{
    font-weight: 500;
    font-size: 18pt;
    color: black;
    padding-left: 7pt;

}

ion-card {
    margin-top: 10pt;
    // border-top: 3px solid #216b72
    padding-top: 5pt;
    padding-bottom: 5pt;
    border-radius: 10pt;

}

.ion-card-total {
    margin-top: 10pt;
    margin-bottom: 15pt;
    border: 4px solid #216b72;
    border-radius: 10pt;

}